[Unit]
Description = isucon7 qualifier main application in golang

[Service]
WorkingDirectory=/home/isucon/isubata/webapp/image-go/
EnvironmentFile=/home/isucon/env.sh

ExecStart = /home/isucon/isubata/webapp/image-go/image-server

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
